.root {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

.header {
    width: 100%;
    padding: 0 20px; /* Adds some padding around the header */
}

.logo {
    margin-right: auto; /* Ensures the logo is on the left */
}

@media (max-width: 800px) {
    .root {
        justify-content: center; /* Aligns the logo to the left on smaller screens */
    }

    .root svg {
        width: 90px;
        height: 16.67px;
    }
}

@media (max-width: 430px) {
    .root {
      justify-content: center; /* Centers the logo horizontally */
      margin: 0 auto; /* Ensures the logo container is centered */
    }
  }