.root {
    margin-top: 16px;
}

.bannerContainer h2 {
    margin-bottom: 24px;
}

.subtitleStyle {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin-top: 32px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes de largeur égale */
    gap: 16px; /* Espacement entre les éléments */
    text-align: center;
}

.image-grid li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px; /* Marge inférieure si nécessaire */
}

.image-grid h2 {
    font-size: 24px; /* Ajustez la taille de la police selon vos besoins */
    line-height: 40px; /* Ajustez la hauteur de ligne pour réduire l'espace entre les lignes du titre */
    margin: 0; /* Réduit la marge autour du titre */
    padding: 0; /* Réduit le padding autour du titre */
}

.metaContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.controllerContainer {
    display: flex;
    gap: 48px;
}

.iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    cursor: pointer;
}

.iconContainer span {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.sortContainer svg {
    width: 8px;
    height: 8px;
}

.itemCount {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.chipsContainer {
    display: flex;
    gap: 8px;
    margin-top: 8px;
}

.productContainer {
    margin-top: 32px;
}

.loadMoreContainer {
    margin-top: 80px;
    width: 160px;
    margin: 96px auto 0px auto;
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.loadMoreContainer span {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

.mobileItemCount {
    display: none;
}

.productPrice {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-top: 5px;
  }

@media (max-width: 1148px) {

    .image-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 columns on medium screens */
        gap: 16px; /* Espacement entre les éléments */
        text-align: center;
    }

    .image-grid li {
        margin-bottom: 24px; /* Marge en bas de chaque élément */
    }
}

@media (max-width: 800px) {
    .itemCount {
        display: none;
    }

    .image-grid {
        display: grid;
        grid-template-columns: 1fr; /* 1 column on mobile */
        gap: 16px; /* Espacement entre les éléments */
        list-style-type: none;
        padding: 0;
    }

    .controllerContainer {
        gap: 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .mobileItemCount {
        display: block;
        text-align: center;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: var(--grey-placeholder);
        margin-bottom: 16px;
    }

    .metaContainer {
        margin: 0px 8px;
    }

    .productContainer {
        margin-left: 8px;
        margin-right: 8px;
    }

    .breadcrumbContainer {
        margin-top: -16px;
    }

    .breadcrumbContainer > div {
        display: none;
    }

    .image-grid li {
        margin-bottom: 24px; /* Marge en bas de chaque élément */
    }

    .loadMoreContainer {
        margin-top: 40px;
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 430px) {
    .itemCount {
        display: none;
    }

    .image-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* 1 column on mobile */
        gap: 16px;
        list-style-type: none;
        padding: 0;
    }

    .loadMoreContainer {
        margin-top: 32px;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .loadMoreContainer button {
        width: 80%; /* Button width adjustment for mobile */
    }
}



