.image-gallery {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

.image-container {
  text-align: center;
  width: 400px; /* Largeur fixe */
}

.image-container a {
  text-decoration: none;
  color: inherit;
}


.image-container:hover .product-image {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

.product-image {
  width: 400px; /* Taille fixe */
  height: 400px; /* Taille fixe */
  object-fit: cover; /* Ajuste l'image sans déformer */
  border-radius: 10px; /* Coins arrondis */
  border: 1px solid #ddd; /* Bordure légère */
}

.product-name {
  font-size: 14px;
  margin-top: 5px;
  color: #333;
  text-align: center;
}