.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajuste les colonnes automatiquement */
    justify-content: center; /* Centre le contenu horizontalement */
    gap: 20px; /* Ajoute une marge entre les images */
  }
  
  .gallery-image {
    margin-bottom: 20px; /* Ajoute une marge en bas de chaque image */
  }
  