.root {
    margin-top: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.imageGrid {
  display: grid;
  width: 100%;
  margin-top: 32px;
  gap: 32px;
  grid-template-columns: repeat(3, 1fr); /* ⇦ 3 colonnes max */
  justify-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.productImage {
  width: 220px;
  height: auto;
  border-radius: 6px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.cardTitle {
  font-size: 20px;
  font-weight: 600;
  margin-top: 12px;
  text-align: center;
}

.productPrice {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-top: 5px;
  text-align: center;
  display: block;
}

.noFavoriteContainer {
  margin-top: 48px;
  text-align: center;
}

.noFavoriteText {
  font-size: 18px;
  color: #666;
}

.root h1 {
    font-weight: normal;
    font-size: 52px;
    line-height: 62px;
    text-align: center;
    margin-bottom: 48px;
}

.favoriteListContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px 16px;
}

.confirmDeleteContainer {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 600px;
}

.noFavoriteContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh; /* à adapter selon ton layout */
  width: 100%;
}

.noFavoriteText {
  font-size: 16px;
  text-align: center;
}

.confirmDeleteContainer h4 {
    font-weight: normal;
}

.confirmDeleteContainer p {
    font-size: 14px;
    line-height: 20px;
}

.actionContainer {
    margin-top: 56px;
    display: flex;
    gap: 16px;
}

@media (max-width: 1148px) {
  .imageGrid {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
}

@media (max-width: 1000px) {
    .favoriteListContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px) {
    .root h1 {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 24px;
    }

    .imageGrid {
      grid-template-columns: 1fr;
      gap: 16px;
    }
}

@media (max-width: 550px) {
    .addressListContainer {
        grid-template-columns: 1fr;
        margin-top: 40px;
    }

    .actionContainer {
        flex-direction: column;
    }

    .confirmDeleteContainer {
        padding: 16px;
    }
}

@media (max-width: 500px) {
  .imageGrid {
    grid-template-columns: 1fr;
  }
}