/* MobileNavigation.module.css */

.root {
    padding: 20px;
    background-color: #fff;
  }
  
  .mobileNavContainer {
    display: flex;
    flex-direction: column;
  }
  
  .navItem {
    display: flex;
    flex-direction: column; /* Ensure nav items stack vertically */
  }
  
  .mobileLink {
    padding: 12px 24px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: var(--standard-black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
  }
  
  .subMenuButton {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
  }
  
  .subMenuTitle {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .subMenuLink {
    padding: 8px 24px;
    text-decoration: none;
    color: #666;
    font-size: 16px;
    display: block; /* Ensure submenu links are displayed in block format */
  }
  
  .backButton {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .backButton span {
    margin-left: 8px;
  }